# Project exclude paths
/.gradle/
/build/
/build/classes/kotlin/main/
/.idea/.gitignore
/run/logs/2025-11-18-1.log.gz
/run/logs/2025-11-18-2.log.gz
/run/logs/2025-11-18-3.log.gz
/run/logs/2025-11-18-4.log.gz
/run/logs/2025-11-18-5.log.gz
/run/logs/2025-11-18-6.log.gz
/run/logs/2025-11-18-7.log.gz
/run/logs/2025-11-18-8.log.gz
/run/logs/2025-11-18-9.log.gz
/run/logs/2025-11-18-10.log.gz
/run/world/playerdata/5547eb57-291a-4db1-8ef2-c20b5affd49f.dat
/run/world/playerdata/5547eb57-291a-4db1-8ef2-c20b5affd49f.dat_old
/run/world/advancements/5547eb57-291a-4db1-8ef2-c20b5affd49f.json
/run/world/stats/5547eb57-291a-4db1-8ef2-c20b5affd49f.json
/run/plugins/AuraSkills/userdata/5547eb57-291a-4db1-8ef2-c20b5affd49f.yml
/run/plugins/AuraSkills/menus/abilities.yml
/run/plugins/AuraSkills/abilities.yml
/run/plugins/spark/tmp/about.txt
/run/libraries/net/minidev/accessors-smart/2.5.1/accessors-smart-2.5.1.jar
/run/libraries/net/kyori/adventure-api/4.25.0/adventure-api-4.25.0.jar
/run/libraries/net/kyori/adventure-key/4.25.0/adventure-key-4.25.0.jar
/run/libraries/net/kyori/adventure-text-logger-slf4j/4.25.0/adventure-text-logger-slf4j-4.25.0.jar
/run/libraries/net/kyori/adventure-text-minimessage/4.25.0/adventure-text-minimessage-4.25.0.jar
/run/libraries/net/kyori/adventure-text-serializer-ansi/4.25.0/adventure-text-serializer-ansi-4.25.0.jar
/run/libraries/net/kyori/adventure-text-serializer-commons/4.25.0/adventure-text-serializer-commons-4.25.0.jar
/run/libraries/net/kyori/adventure-text-serializer-gson/4.25.0/adventure-text-serializer-gson-4.25.0.jar
/run/libraries/net/kyori/adventure-text-serializer-json/4.25.0/adventure-text-serializer-json-4.25.0.jar
/run/libraries/net/kyori/adventure-text-serializer-legacy/4.25.0/adventure-text-serializer-legacy-4.25.0.jar
/run/libraries/net/kyori/adventure-text-serializer-plain/4.25.0/adventure-text-serializer-plain-4.25.0.jar
/run/plugins/AuraSkills/rewards/agility.yml
/run/plugins/AuraSkills/sources/agility.yml
/run/plugins/AuraSkills/rewards/alchemy.yml
/run/plugins/AuraSkills/sources/alchemy.yml
/run/libraries/net/kyori/ansi/1.1.1/ansi-1.1.1.jar
/run/plugins/AuraSkills/rewards/archery.yml
/run/plugins/AuraSkills/sources/archery.yml
/run/libraries/org/ow2/asm/asm/9.8/asm-9.8.jar
/run/libraries/org/ow2/asm/asm-commons/9.8/asm-commons-9.8.jar
/run/libraries/org/ow2/asm/asm-tree/9.8/asm-tree-9.8.jar
/run/libraries/io/papermc/asm-utils/0.0.3/asm-utils-0.0.3.jar
/run/plugins/.paper-remapped/AuraSkills-2.3.8.jar
/run/plugins/AuraSkills-2.3.8.jar
/.idea/modules/AuraSkillsExtension.main.iml
/run/plugins/.paper-remapped/extra-plugins/AuraSkillsExtension-1.0-all-1763483282137.jar
/run/plugins/.paper-remapped/extra-plugins/AuraSkillsExtension-1.0-all-1763497758043.jar
/run/libraries/com/mojang/authlib/7.0.61/authlib-7.0.61.jar
/run/libraries/net/neoforged/AutoRenamingTool/2.0.3/AutoRenamingTool-2.0.3.jar
/run/plugins/.paper-remapped/remap-classpath/B743C8D9AC521930FD3DA30D3609CF0F348D62F02932CA76F0921208D5DB1CF1.jar
/run/plugins/.paper-remapped/mappings/reversed/B743C8D9AC521930FD3DA30D3609CF0F348D62F02932CA76F0921208D5DB1CF1.tiny
/run/banned-ips.json
/run/banned-players.json
/run/libraries/com/mojang/brigadier/1.3.10/brigadier-1.3.10.jar
/run/bukkit.yml
/run/libraries/net/md-5/bungeecord-chat/1.21-R0.2-deprecated+build.21/bungeecord-chat-1.21-R0.2-deprecated+build.21.jar
/run/libraries/org/checkerframework/checker-qual/3.43.0/checker-qual-3.43.0.jar
/run/world/data/chunks.dat
/run/world_nether/DIM-1/data/chunks.dat
/run/world_the_end/DIM1/data/chunks.dat
/run/libraries/net/neoforged/installertools/cli-utils/2.1.4/cli-utils-2.1.4.jar
/run/commands.yml
/run/libraries/commons-codec/commons-codec/1.16.0/commons-codec-1.16.0.jar
/run/libraries/commons-io/commons-io/2.17.0/commons-io-2.17.0.jar
/run/libraries/org/apache/commons/commons-lang3/3.17.0/commons-lang3-3.17.0.jar
/run/libraries/commons-lang/commons-lang/2.6/commons-lang-2.6.jar
/.idea/compiler.xml
/run/libraries/ca/spottedleaf/concurrentutil/0.0.7/concurrentutil-0.0.7.jar
/run/plugins/spark/config.json
/run/plugins/AuraSkills/config.yml
/run/plugins/bStats/config.yml
/run/libraries/org/spongepowered/configurate-core/4.2.0/configurate-core-4.2.0.jar
/run/libraries/org/spongepowered/configurate-yaml/4.2.0/configurate-yaml-4.2.0.jar
/run/libraries/com/nimbusds/content-type/2.3/content-type-2.3.jar
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/run/libraries/com/mojang/datafixerupper/8.0.16/datafixerupper-8.0.16.jar
/run/plugins/AuraSkills/rewards/defense.yml
/run/plugins/AuraSkills/sources/defense.yml
/run/libraries/com/lmax/disruptor/3.4.4/disruptor-3.4.4.jar
/run/plugins/AuraSkills/rewards/enchanting.yml
/run/plugins/AuraSkills/sources/enchanting.yml
/run/libraries/com/google/errorprone/error_prone_annotations/2.28.0/error_prone_annotations-2.28.0.jar
/run/eula.txt
/run/libraries/net/kyori/examination-api/1.3.0/examination-api-1.3.0.jar
/run/libraries/net/kyori/examination-string/1.3.0/examination-string-1.3.0.jar
/run/plugins/AuraSkills/loot/excavation.yml
/run/plugins/AuraSkills/rewards/excavation.yml
/run/plugins/AuraSkills/sources/excavation.yml
/run/libraries/com/google/guava/failureaccess/1.0.2/failureaccess-1.0.2.jar
/run/plugins/AuraSkills/rewards/farming.yml
/run/plugins/AuraSkills/sources/farming.yml
/run/libraries/it/unimi/dsi/fastutil/8.5.15/fastutil-8.5.15.jar
/run/plugins/AuraSkills/rewards/fighting.yml
/run/plugins/AuraSkills/sources/fighting.yml
/run/plugins/AuraSkills/loot/fishing.yml
/run/plugins/AuraSkills/rewards/fishing.yml
/run/plugins/AuraSkills/sources/fishing.yml
/run/plugins/AuraSkills/rewards/foraging.yml
/run/plugins/AuraSkills/sources/foraging.yml
/run/libraries/io/leangen/geantyref/geantyref/1.3.16/geantyref-1.3.16.jar
/run/plugins/AuraSkills/messages/global.yml
/run/plugins/AuraSkills/rewards/global.yml
/.idea/gradle.xml
/run/libraries/com/google/code/gson/gson/2.11.0/gson-2.11.0.jar
/run/libraries/net/neoforged/javadoctor/gson-io/2.0.17/gson-io-2.0.17.jar
/run/libraries/com/google/guava/guava/33.3.1-jre/guava-33.3.1-jre.jar
/run/help.yml
/run/libraries/org/apache/httpcomponents/httpclient/4.5.14/httpclient-4.5.14.jar
/run/libraries/org/apache/httpcomponents/httpcore/4.4.16/httpcore-4.4.16.jar
/run/plugins/.paper-remapped/extra-plugins/index.json
/run/plugins/.paper-remapped/libraries/index.json
/run/plugins/.paper-remapped/unknown-origin/index.json
/run/plugins/.paper-remapped/index.json
/run/libraries/com/google/j2objc/j2objc-annotations/3.0.0/j2objc-annotations-3.0.0.jar
/run/libraries/com/fasterxml/jackson/core/jackson-annotations/2.13.4/jackson-annotations-2.13.4.jar
/run/libraries/com/fasterxml/jackson/core/jackson-core/2.13.4/jackson-core-2.13.4.jar
/run/libraries/com/fasterxml/jackson/core/jackson-databind/2.13.4.2/jackson-databind-2.13.4.2.jar
/run/libraries/javax/inject/javax.inject/1/javax.inject-1.jar
/run/libraries/com/github/stephenc/jcip/jcip-annotations/1.0-1/jcip-annotations-1.0-1.jar
/run/libraries/org/slf4j/jcl-over-slf4j/1.7.36/jcl-over-slf4j-1.7.36.jar
/run/libraries/org/jline/jline-native/3.27.1/jline-native-3.27.1.jar
/run/libraries/org/jline/jline-reader/3.20.0/jline-reader-3.20.0.jar
/run/libraries/org/jline/jline-terminal/3.27.1/jline-terminal-3.27.1.jar
/run/libraries/org/jline/jline-terminal-ffm/3.27.1/jline-terminal-ffm-3.27.1.jar
/run/libraries/org/jline/jline-terminal-jni/3.27.1/jline-terminal-jni-3.27.1.jar
/run/libraries/net/java/dev/jna/jna/5.15.0/jna-5.15.0.jar
/run/libraries/net/java/dev/jna/jna-platform/5.15.0/jna-platform-5.15.0.jar
/run/libraries/org/joml/joml/1.10.8/joml-1.10.8.jar
/run/libraries/net/sf/jopt-simple/jopt-simple/6.0-alpha-3/jopt-simple-6.0-alpha-3.jar
/run/libraries/com/googlecode/json-simple/json-simple/1.1.1/json-simple-1.1.1.jar
/run/libraries/net/minidev/json-smart/2.5.1/json-smart-2.5.1.jar
/run/libraries/org/jspecify/jspecify/1.0.0/jspecify-1.0.0.jar
/run/libraries/com/google/code/findbugs/jsr305/3.0.2/jsr305-3.0.2.jar
/run/libraries/com/mojang/jtracy/1.0.36/jtracy-1.0.36.jar
/.kotlin/sessions/kotlin-compiler-3971458805739424995.salive
/.idea/kotlinc.xml
/run/libraries/com/nimbusds/lang-tag/1.7/lang-tag-1.7.jar
/run/logs/latest.log
/run/plugins/AuraSkills/menus/leaderboard.yml
/run/plugins/AuraSkills/presets/legacy.zip
/run/world/level.dat
/run/world_nether/level.dat
/run/world_the_end/level.dat
/run/world/level.dat_old
/run/world_nether/level.dat_old
/run/world_the_end/level.dat_old
/run/plugins/AuraSkills/menus/level_progression.yml
/run/libraries/com/google/guava/listenablefuture/9999.0-empty-to-avoid-conflict-with-guava/listenablefuture-9999.0-empty-to-avoid-conflict-with-guava.jar
/run/libraries/org/apache/logging/log4j/log4j-api/2.24.1/log4j-api-2.24.1.jar
/run/libraries/org/apache/logging/log4j/log4j-core/2.24.1/log4j-core-2.24.1.jar
/run/libraries/org/apache/logging/log4j/log4j-iostreams/2.24.1/log4j-iostreams-2.24.1.jar
/run/libraries/org/apache/logging/log4j/log4j-slf4j2-impl/2.24.1/log4j-slf4j2-impl-2.24.1.jar
/run/libraries/com/mojang/logging/1.5.10/logging-1.5.10.jar
/run/libraries/org/lz4/lz4-java/1.8.0/lz4-java-1.8.0.jar
/run/plugins/AuraSkills/mana_abilities.yml
/run/libraries/org/apache/maven/maven-artifact/3.9.6/maven-artifact-3.9.6.jar
/run/libraries/org/apache/maven/maven-builder-support/3.9.6/maven-builder-support-3.9.6.jar
/run/libraries/org/apache/maven/maven-model/3.9.6/maven-model-3.9.6.jar
/run/libraries/org/apache/maven/maven-model-builder/3.9.6/maven-model-builder-3.9.6.jar
/run/libraries/org/apache/maven/maven-repository-metadata/3.9.6/maven-repository-metadata-3.9.6.jar
/run/libraries/org/apache/maven/resolver/maven-resolver-api/1.9.18/maven-resolver-api-1.9.18.jar
/run/libraries/org/apache/maven/resolver/maven-resolver-connector-basic/1.9.18/maven-resolver-connector-basic-1.9.18.jar
/run/libraries/org/apache/maven/resolver/maven-resolver-impl/1.9.18/maven-resolver-impl-1.9.18.jar
/run/libraries/org/apache/maven/resolver/maven-resolver-named-locks/1.9.18/maven-resolver-named-locks-1.9.18.jar
/run/libraries/org/apache/maven/maven-resolver-provider/3.9.6/maven-resolver-provider-3.9.6.jar
/run/libraries/org/apache/maven/resolver/maven-resolver-spi/1.9.18/maven-resolver-spi-1.9.18.jar
/run/libraries/org/apache/maven/resolver/maven-resolver-transport-http/1.9.18/maven-resolver-transport-http-1.9.18.jar
/run/libraries/org/apache/maven/resolver/maven-resolver-util/1.9.18/maven-resolver-util-1.9.18.jar
/run/plugins/AuraSkills/messages/messages_cs.yml
/run/plugins/AuraSkills/messages/messages_de.yml
/run/plugins/AuraSkills/messages/messages_en.yml
/run/plugins/AuraSkills/messages/messages_es.yml
/run/plugins/AuraSkills/messages/messages_fi.yml
/run/plugins/AuraSkills/messages/messages_fr.yml
/run/plugins/AuraSkills/messages/messages_id.yml
/run/plugins/AuraSkills/messages/messages_it.yml
/run/plugins/AuraSkills/messages/messages_ja.yml
/run/plugins/AuraSkills/messages/messages_ko.yml
/run/plugins/AuraSkills/messages/messages_nl.yml
/run/plugins/AuraSkills/messages/messages_pl.yml
/run/plugins/AuraSkills/messages/messages_pt-BR.yml
/run/plugins/AuraSkills/messages/messages_ru.yml
/run/plugins/AuraSkills/messages/messages_th.yml
/run/plugins/AuraSkills/messages/messages_tr.yml
/run/plugins/AuraSkills/messages/messages_uk.yml
/run/plugins/AuraSkills/messages/messages_vi.yml
/run/plugins/AuraSkills/messages/messages_zh-CN.yml
/run/plugins/AuraSkills/messages/messages_zh-TW.yml
/run/plugins/AuraSkills/rewards/mining.yml
/run/plugins/AuraSkills/sources/mining.yml
/.idea/misc.xml
/.idea/modules.xml
/run/cache/mojang_1.21.10.jar
/run/libraries/com/microsoft/azure/msal4j/1.17.2/msal4j-1.17.2.jar
/run/libraries/com/mysql/mysql-connector-j/9.2.0/mysql-connector-j-9.2.0.jar
/run/libraries/io/netty/netty-buffer/4.1.118.Final/netty-buffer-4.1.118.Final.jar
/run/libraries/io/netty/netty-codec/4.1.118.Final/netty-codec-4.1.118.Final.jar
/run/libraries/io/netty/netty-codec-haproxy/4.1.118.Final/netty-codec-haproxy-4.1.118.Final.jar
/run/libraries/io/netty/netty-codec-http/4.1.118.Final/netty-codec-http-4.1.118.Final.jar
/run/libraries/io/netty/netty-common/4.1.118.Final/netty-common-4.1.118.Final.jar
/run/libraries/io/netty/netty-handler/4.1.118.Final/netty-handler-4.1.118.Final.jar
/run/libraries/io/netty/netty-resolver/4.1.118.Final/netty-resolver-4.1.118.Final.jar
/run/libraries/io/netty/netty-transport/4.1.118.Final/netty-transport-4.1.118.Final.jar
/run/libraries/io/netty/netty-transport-classes-epoll/4.1.118.Final/netty-transport-classes-epoll-4.1.118.Final.jar
/run/libraries/io/netty/netty-transport-native-epoll/4.1.118.Final/netty-transport-native-epoll-4.1.118.Final-linux-aarch_64.jar
/run/libraries/io/netty/netty-transport-native-epoll/4.1.118.Final/netty-transport-native-epoll-4.1.118.Final-linux-x86_64.jar
/run/libraries/io/netty/netty-transport-native-unix-common/4.1.118.Final/netty-transport-native-unix-common-4.1.118.Final.jar
/run/libraries/com/nimbusds/nimbus-jose-jwt/9.40/nimbus-jose-jwt-9.40.jar
/run/libraries/com/nimbusds/oauth2-oidc-sdk/11.18/oauth2-oidc-sdk-11.18.jar
/run/ops.json
/run/libraries/net/kyori/option/1.1.0/option-1.1.0.jar
/run/libraries/org/eclipse/sisu/org.eclipse.sisu.inject/0.9.0.M2/org.eclipse.sisu.inject-0.9.0.M2.jar
/run/libraries/com/github/oshi/oshi-core/6.6.5/oshi-core-6.6.5.jar
/run/world/datapacks/bukkit/pack.mcmeta
/run/versions/1.21.10/paper-1.21.10.jar
/run/libraries/io/papermc/paper/paper-api/1.21.10-R0.1-SNAPSHOT/paper-api-1.21.10-R0.1-SNAPSHOT.jar
/run/config/paper-global.yml
/run/world/paper-world.yml
/run/world_nether/paper-world.yml
/run/world_the_end/paper-world.yml
/run/config/paper-world-defaults.yml
/run/libraries/io/papermc/parchment/data/parchment/1.21.10+build.12/parchment-1.21.10+build.12.jar
/run/permissions.yml
/run/libraries/org/codehaus/plexus/plexus-interpolation/1.26/plexus-interpolation-1.26.jar
/run/libraries/org/codehaus/plexus/plexus-utils/3.5.1/plexus-utils-3.5.1.jar
/run/libraries/com/google/protobuf/protobuf-java/4.29.0/protobuf-java-4.29.0.jar
/run/plugins/AuraSkills/regiondata/world/r.0.0.asrg
/run/world/entities/r.0.0.mca
/run/world/poi/r.0.0.mca
/run/world/region/r.0.0.mca
/run/world_nether/DIM-1/region/r.0.0.mca
/run/world_the_end/DIM1/region/r.0.0.mca
/run/world/entities/r.0.-1.mca
/run/world/poi/r.0.-1.mca
/run/world/region/r.0.-1.mca
/run/world_nether/DIM-1/region/r.0.-1.mca
/run/world_the_end/DIM1/region/r.0.-1.mca
/run/world/entities/r.-1.0.mca
/run/world/region/r.-1.0.mca
/run/world_nether/DIM-1/region/r.-1.0.mca
/run/world_the_end/DIM1/region/r.-1.0.mca
/run/world/entities/r.-1.-1.mca
/run/world/region/r.-1.-1.mca
/run/world_nether/DIM-1/region/r.-1.-1.mca
/run/world_the_end/DIM1/region/r.-1.-1.mca
/run/world/data/raids.dat
/run/world_nether/DIM-1/data/raids.dat
/run/world_the_end/DIM1/data/raids_end.dat
/run/world/data/random_sequences.dat
/run/libraries/io/papermc/reflection-rewriter/0.0.3/reflection-rewriter-0.0.3.jar
/run/libraries/io/papermc/reflection-rewriter-proxy-generator/0.0.3/reflection-rewriter-proxy-generator-0.0.3.jar
/run/libraries/io/papermc/reflection-rewriter-runtime/0.0.3/reflection-rewriter-runtime-0.0.3.jar
/run/world/data/scoreboard.dat
/run/server.properties
/run/world/session.lock
/run/world_nether/session.lock
/run/world_the_end/session.lock
/run/plugins/AuraSkills/menus/skills.yml
/run/plugins/AuraSkills/skills.yml
/run/libraries/org/slf4j/slf4j-api/2.0.17/slf4j-api-2.0.17.jar
/run/libraries/org/yaml/snakeyaml/2.2/snakeyaml-2.2.jar
/run/plugins/AuraSkills/menus/sources.yml
/run/libraries/me/lucko/spark-api/0.1-20240720.200737-2/spark-api-0.1-20240720.200737-2.jar
/run/libraries/me/lucko/spark-paper/1.10.152/spark-paper-1.10.152.jar
/run/libraries/net/neoforged/javadoctor/spec/2.0.17/spec-2.0.17.jar
/run/spigot.yml
/run/libraries/org/xerial/sqlite-jdbc/3.49.1.0/sqlite-jdbc-3.49.1.0.jar
/run/libraries/net/neoforged/srgutils/1.0.9/srgutils-1.0.9.jar
/run/plugins/AuraSkills/menus/stat_info.yml
/run/plugins/AuraSkills/menus/stats.yml
/run/plugins/AuraSkills/stats.yml
/run/libraries/net/minecrell/terminalconsoleappender/1.3.0/terminalconsoleappender-1.3.0.jar
/run/world/uid.dat
/run/world_nether/uid.dat
/run/world_the_end/uid.dat
/run/usercache.json
/.idea/vcs.xml
/run/libraries/com/velocitypowered/velocity-native/3.4.0-SNAPSHOT/velocity-native-3.4.0-SNAPSHOT.jar
/run/version_history.json
/run/whitelist.json
/run/world/data/world_border.dat
/run/world_nether/DIM-1/data/world_border.dat
/run/world_the_end/DIM1/data/world_border.dat
/run/plugins/AuraSkills/xp_requirements.yml
/libs/
/run/plugins/LevelledMobs-4.4.0.b137.jar
/run/
/.kotlin/
/.idea/
